@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
</div>

<div class="row">
    <p>Bus Route @Model.RouteNumber</p>
</div>

<div class="row">
    <div class="col-sm-2">@Model.StopLetter</div>
    <div class="col-sm-2">@Model.StopName</div>
    <div class="col-sm-2">@Model.DistanceToStop</div>
</div>